@import "mixins";

body {
  background: #FFF;
  font-family: "Times New Roman", serif;
  font-size: 16px;
  color: $textColor;
  min-width: $responsiveBreakpoint;
}

a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $hoverColor;
    text-decoration: underline;
  }
}

.button, .tag {
  display: inline-block;
  text-align: center;
  font-family: "Verdana", sans-serif;
}

.button {
  padding: 10px 20px 12px;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
  @include gradient-vertical($linkColor, $hoverColor);

  color: $highlightColor;
  &:hover {
    background: $linkColor;
    color: #FFFFFF;
  }
}

.tag {
  background-color: $highlightColor;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
}

input {
  border: none;
  color: $textColor;
  font-family: "Verdana", sans-serif;
  padding: 5px 0px;
  font-size: 16px;
  border-bottom: 1px $borderColor solid;
  &:focus {
    border-bottom-color: $textLightColor;
    background: $highlightColor;
    outline: none;
  }

  &.error {
    border-color: $errorColor;
  }

  max-width: 300px;
}

#modal-backdrop {
  position: fixed;
  z-index: 10000;
  background: rgba(255, 255, 255, 0.7);
  width: 100vw;
  height: 100vh;
}
