@import "mixins";

.user-form {
  border-bottom: 2px $borderColor solid;
  padding: 10px 20px;
  width: 100%;

  .user-field {
    vertical-align: top;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    min-height: 80px;
    width: 100%;
    max-width: $responsiveBreakpoint;

    @media (max-width: $responsiveBreakpoint) {
      max-width: 100% !important;
      margin-right: 0 !important;
      &.collapse {
        clear: both;
        margin-top: 20px;
        display: block;
        min-height: 10px;
        float: none;

        a {
          margin-top: -20px;
        }

      }
    }

    @media (max-width: $responsiveBreakpointLarge) {
      max-width: 47%;
      margin-right: 2%;
      margin-bottom: 20px;
    }

    .button {
      @include vertical-center();
      margin-top: -7px;
    }

    &.collapse {
      width: auto;
      max-width: 80px;
      a {
        .fa {
          display: inline-block;
        }
        white-space: nowrap;
        @include vertical-center();
      }
    }

    .error {
      font-size: 14px;
      display: block;
      margin-top: 10px;
      font-style: italic;
      color: $errorColor;
    }

    input {
      width: 100%;
      max-width: 100%;
    }

    label {
      display: block;
      margin-bottom: 5px;
    }
  }
}